<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="IntelliBins">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>IntelliBins - Smart bin solutions</title>
    <link rel="stylesheet" href="css/{{styles}}">
    <script src="https://use.fontawesome.com/05facbab7b.js"></script>
</head>
<body>
    <div class="hero">
        <div class="section">
            <h1>IntelliBins <small>Smart bin solutions</small></h1>
            <img class="img-responsive" src="images/combine-flat.png" alt="">
        </div>
    </div>
    <div class="bg-team-photo">
        <div class="section">
            <h2>Spotless Hack @ the G
                <small>Finalist</small>
                <small>David Lei, Erfan Norozi, Kenny Yu, Patrick Shaw, Paul Hoang, Ramzi Hossari</small>
            </h2>

            <p>
                We have created an IoT device that uses ultrasonic waves to determine a bin's capacity and transmits
                this information to a centralised server for data analysis and visualisation.
            </p>
            <p>
                Using an Android application, cleaners are given real-time information to quickly identify bins nearing
                capacity so that they can attend to them before they overflow.
            </p>
            <p>
                Visualisation tools are provided through a web application to
                help managers identify problem areas and plan future infrastructure projects.
            </p>
            <p>Our solution was created and presented at <a href="https://spotless-hack-the-g.devpost.com/" target="_blank">
                Spotless Hack @ the G</a> and was awarded 
                <a href="https://devpost.com/software/intellibins" target="_blank">First Prize - Overall Winner</a>.
            </p>
            <div class="actions">
                <a class="btn" href="web-demo" target="_blank">
                    View Web Demo
                </a>
            </div>
            <h3>Source Code</h3>
            <div class="source-code-list">
                <a class="btn" href="https://github.com/darvid7/Life-of-Pi" target="_blank">
                    Raspberry Pi IoT device with IR sensor <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
                <a class="btn" href="https://github.com/PatrickShaw/SpotlessGHack-Intellibins-Web" target="_blank">
                    Web Demo <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
                <a class="btn" href="https://github.com/PatrickShaw/SpotlessGHack-Intellibins-Android" target="_blank">
                    Android Application <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
                <a class="btn" href="https://github.com/erfanio/spotless_api" target="_blank">
                    Web API <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="section">
            Contact: paulkhoahoang {at} gmail.com
        </div>
    </footer>
</body>
</html>
